@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar{
  background-color: rgb(6, 0, 43) !important;
}
.nav-link{
  color: white !important;
}
.navbar-brand{
  color: white !important;
}
.navbar-nav{
  margin-left: auto;
}
.smallimg{
  height: 200px;
  width: 100% !important;
  border-radius: 5px !important;
}
h1{
  font-size: 20px !important;
}
.btn{
  background-color: rgb(6, 0, 43)!important;
  color: white !important;
  box-shadow: none !important;
}
.bs{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 20px !important;
  border-radius: 5px !important;
  padding: 20px !important;
}
.bigimg{
  height: 400px;
  border-radius: 5px !important;
}
input , select , .ant-picker{
  box-shadow: none !important;
  margin-top: 10px;
  border: 2px solid rgb(6, 0, 43) !important;
  width: 100% !important;
  border-radius: 3px !important;
  height: 35px !important; 
}
h2{
  font-size: 30px;
  padding: 10px;
  font-weight: bold;
  text-align: center;

}
.dropdown-toggle{
  border: 0px solid rgb(6, 0, 43) !important;
}
.ant-picker-input input{
  border: none !important;
}
p{
  font-size: 16px;
}
.landing{
  background-color: rgb(6, 0, 43) !important;
  height: 100vh;
}
.landingbtn{
  background-color: white !important;
  color: rgb(6, 0, 43) !important;
  margin-top: 20px;
}
